<div class="nested-fields">
	<%= f.label :name %>
	<%= f.select :name, Excercise.all.collect { |e| [ e.name, e.id ] }, include_blank: true %>
	<%= link_to_remove_association "remove excercise", f %>
</div>